<!--
  This template loads for the 'tab.exchange-detail' state (app.js)
  'exchange' is a $scope variable created in the ExchangeCtrl controller (controllers.js)
  The ExchangeCtrl pulls data from the Exchanges service (service.js)
  The Exchanges service returns an array of exchange data
-->
<ion-view title="Exchange Detail">
  <ion-content has-header="true" padding="true">
  	<h1>{{exchange.title}}</h1>

  	<ion-item ng-repeat="message in exchange_messages" type="item-text-wrap">
  		<h2>{{message.response}}</h2>
  		From Friend {{message.friend_id}}
  	</ion-item>

    <form ng-submit="newResponse(reply)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Write response here" ng-model="reply.response">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Post Reply</button>
      </div>
    </form>

  </ion-content>
</ion-view>
