
<!--  This template loads for the 'tab.exchange-detail' state (app.js)
  'exchange' is a $scope variable created in the ExchangeCtrl controller (controllers.js)
  The ExchangeCtrl pulls data from the Exchanges service (service.js)
  The Exchanges service returns an array of exchange data
-->
<ion-view title="Exchange Detail">
  <ion-content has-header="true" padding="true">
  	<h1>{{exchange.title}}</h1>

  	<ion-item ng-repeat="message in exchange_messages" type="item-text-wrap">
  		<h2>{{message.response}}</h2>
  		From {{message.name}}
  	</ion-item>


  </ion-content>

</ion-view>

<ion-footer-bar align-title="right" class="bar-assertive" style="height:10%;">
  <form ng-submit="newResponse(reply)" style="width:100%;padding:4px 20px 0px 20px;">
    <div class="list" >
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Write your response here" ng-model="reply.response">
      </label>
      <button type="submit" class="button button-small">
        Respond
      </button>
    </div>
    </div>
  </form> 
</ion-footer-bar>

