<div class="modal">
  <ion-header-bar class="bar-energized">
    <h1 class="title">Feedback</h1>
    <div class="buttons">
      <button class="button" ng-click="closeFeedback()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="submitFeedback(feedback)">
    <label class="item item-input">
      <textarea placeholder="Comments" ng-model="feedback" class="feedback-box"></textarea>
    </label>
    <div class="padding">
      <input type="submit" value="Submit" class="button button-block button-energized"/>
    </div>      
    </form>
  </ion-content>
</div>