<ion-view title="Forgot Password">
  <ion-content has-header="true" padding="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
    </div>
    <p>Forget your password? No problem! Click the reset button below.</p>
    <button class="button button-positive" ng-click="reset(user)">
      Reset Password
    </button>
    <div class="padding-vertical">
      <p>
        Return to <a href="#/sign-in">Sign-In</a>.
      </p>
    </div>
  </ion-content>
</ion-view>