<ion-view title="Forgot Password">
  <ion-content has-header="true">
    <form ng-submit="reset(user)">
      <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      </div>
    <div class="padding">
      <input type="submit" value="Reset Password" class="button button-block button-positive"/>
      <div class="padding-vertical">
        <p>
          Return to <a href="#/sign-in">Sign-In</a>.
        </p>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>