<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
  <ion-content has-header="true" padding="true">
  	<ion-item ng-repeat="message in messages" type="item-text-wrap">
  		<h2>{{message.response}}</h2>
      From Friend {{message.friend_id}}

  	</ion-item>
  	
  </ion-content>
</ion-view>

<ion-footer-bar align-title="right" class="bar-assertive" style="height:10%;">
  <form ng-submit="newMessage(message)" style="width:100%;padding:4px 20px 0px 20px;">
    <div class="list" >
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Write your message here" ng-model="message.response">
      </label>
      <button type="submit" class="button button-small">
        Respond
      </button>
    </div>
    </div>
  </form> 
</ion-footer-bar>


