<ion-view title="Sign-Up">
  <ion-content has-header="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Team</span>
        <input type="text" ng-model="user.team">
      </label>
      <label class="item item-input">
        <span class="input-label">School</span>
        <input type="text" ng-model="user.school">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signUp(user)">
        Sign Up
      </button>
      <p>
        Return to <a href="#/sign-in">Sign-In</a>.
      </p>
    </div>
  </ion-content>
</ion-view>