<ion-view title="Sign-In">
  <ion-content has-header="true">
    <form ng-submit="signIn(user)">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <input type="submit" value="Sign-In" class="button button-block button-positive"/>
      <p>
        <a href="#/sign-up">Sign Up</a>
      </p>
      <p>
        <a href="#/change-password">Change password</a>
      </p>
      <p>
        <a href="#/forgot-password">Forgot password</a>
      </p>
    </div>      
    </form>
  </ion-content>
</ion-view>