<ion-view title="Sign-Up">
  <ion-content has-header="true">
    <form ng-submit="signUp(user)">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Team</span>
        <input type="text" ng-model="user.team">
      </label>
      <label class="item item-input">
        <span class="input-label">Role</span>
        <input type="text" ng-model="user.role">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <input type="submit" value="Sign Up" class="button button-block button-positive"/>
      <p>
        Return to <a href="#/sign-in">Sign-In</a>.
      </p>
    </div>
    </form>
  </ion-content>
</ion-view>