<ion-view title="Exchange">
  <ion-content class="has-header">
    <h1>Exchange</h1>
    <ion-list>
    	<ion-item ng-repeat="exchange in exchanges" type="item-text-wrap" href="#/tab/exchange/{{exchange.id}}">
    		<h2>{{exchange.title}}</h2>
    	</ion-item>
	</ion-list>

  </ion-content>
</ion-view>


<ion-footer-bar align-title="right" class="bar-assertive" style="height:10%;">
  <form ng-submit="newExchange(exchange)" style="width:100%;padding:4px 20px 0px 20px;">
    <div class="list" >
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Write your question here" ng-model="exchange.title">
      </label>
      <button type="submit" class="button button-small">
        Post Question
      </button>
    </div>
    </div>
  </form> 
</ion-footer-bar>

