<ion-view title="Omaters">
  <ion-content class="has-header">
    <!-- <h1>Omaters</h1> -->
    <ion-list>
      <ion-item ng-repeat="(fid,friend) in friends" type="item-text-wrap" href="#/tab/omaters/{{getThreadId(user.id,fid)}}" ng-if="user.id!=fid && friend.connections">
        <h2 ng-bind-html="friend.name"></h2>
        <p><i class="icon ion-person-stalker"></i> {{friend.team || 'N/A'}} <i class="icon ion-university"></i> {{friend.school || 'N/A'}}</p>
        <span class="badge badge-assertive" ng-show="(friend['unread-by-'+user.id] || 0)>0">{{friend['unread-by-'+user.id] || 0}}</span>
      </ion-item>
    </ion-list>


      <div ng-if="isNoFriends()" style="text-align:center;">
        <i class="icon ion-sad" style="font-size:170px;"></i>
        <div style="font-size:20px;">Sorry, no Omaters are online right now...</div>
      </div>  

  </ion-content>
</ion-view>
