<ion-view title="Exchange">
  <ion-content class="has-header">
    <!-- <h1>Exchange</h1> -->
    <ion-list>
    	<ion-item ng-repeat="exchange in exchanges" type="item-text-wrap" href="#/tab/exchange/{{exchange.id}}">
    		<h2>{{exchange.title}}</h2>
    	</ion-item>
	</ion-list>

	<form ng-submit="newExchange(exchange)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Write question here" ng-model="exchange.title">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Post Question</button>
      </div>
    </form>

  </ion-content>
</ion-view>
